<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.5-strict.dtd">
<head>
    <title>Wicket Quickstart Archetype Homepage</title>
</head>
<body>
<div id="container">
    <strong>Wicket Quickstart Archetype Homepage</strong>
    <br/><br/>
    <span wicket:id="message">message will be here</span>
    <br/>
    <br/>
      <span wicket:id="comments" id="comments">
    <p>
        <span wicket:id="date">1/1/2004</span><br>
        <span wicket:id="text">Comment text goes here.</span>
    </p>
  </span>
</div>
</body>
</html>
